<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>EDA</title>
</head>
<body style="background-color:#E6E6FA;">
<h2>Exploratory Data Analysis for Covid-19 </h2>

<img src="data:image/png;base64, {{ gragh_totalcases|safe }}" alt="" id="gragh_totalcases" width="800" height="700">
<img src="data:image/png;base64, {{ gragh_totaldeaths|safe }}" alt="" id="gragh_totaldeaths" width="800" height="700">
<img src="data:image/png;base64, {{ grid_IND|safe }}" alt="" id="grid_IND" width="1000" height="800">

</body>
</html>
