<!DOCTYPE html>
<html lang="en">
  <style type="text/css" scoped>
        h2 { color: blue; } 
    </style>

<head>
    <meta charset="UTF-8">
    <title>Correlation Analysis</title>
</head>
<body>
<h2>Correlation Analysis</h2>

<form action="/thankyou/" method="post" >
    {% csrf_token %}
    <table>
    {{form.as_table}}

 </table>
<input type="submit" value="Corelate" name="corelate" />
<h2>Exploratory data anaylysis</h2>

<p>The Exploratory data anaylysis for the the data from Jan 2020 to Jan 2022.</p>
<p>Which contain information from more than 200 countries around the world.</p>
<button class="btn btn-primary"  name="eda">Exploratory Data Analysis</button>
<h2>Regression analysis</h2>
<p>The regression analysis for the whole data from Jan 2020 to Jan 2022</p>

<button class="btn btn-primary"  name="regressionres">Regression Result</button>

</body>
</html>
