<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Relations</title>
</head>
<body style="background-color:#FFDAB9;">
<h2>Correlation analyis Result:</h2>
<p>The data that we have used is here is in range from Jan 2020 to Jan 2022 which is almost from 200 countries around the world. which contins 150000 rows of data</p>
<p>Interpreting results
Typically, the best way to gain a generalized but more immediate interpretation of the results of a set of data, is to visualize it on a scatter graph such as these:
</p><p>Positive Correlation
Any score from +0.5 to +1 indicates a very strong positive correlation, which means that they both increase at the same time. The line of best fit, or the trend line, is places to best represent the data on the graph. In this case, it is following the data points upwards to indicate the positive correlation. 
</p><p>Negative Correlation
Any score from -0.5 to -1 indicate a strong negative correlation, which means that as one variable increases, the other decreases proportionally. The line of best fit can be seen here to indicate the negative correlation. In these cases it will slope downwards from the point of origin.
</p><p>No Correlation
Very simply, a score of 0 indicates that there is no correlation</p>
<form method="post">

            <ul>
            <!--<li>Name: <strong>{{ name }}</strong></li>-->

            <li>Correlation: <strong>{{ email }}</strong></li>

            <!--<li>Feedback: <strong>{{ feedback }}</strong></li>-->
          </ul>
</form>
<!--
<img src="data:image/png;base64, {{ gragh_totalcases|safe }}" alt="" id="img" width="800" height="700">


{{ p_data|safe }}
<img src="data:image/png;base64, {{ p_data|safe }}" alt="" id="img" width="800" height="700">
-->
</body>
</html>
